<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <display-name>Josescalia's Rest Easy Lab</display-name>
    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>

    <!-- Any beans annotated with JAX-RS are automatically loaded (@Path...) -->
    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.spring.SpringContextLoaderListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>RestEasyLab</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RestEasyLab</servlet-name>
        <!-- URL would be http://localhost:9095/services/helloservice/hello/toto -->
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <!--bypassing spring-mvc-view-->
        <servlet-name>default</servlet-name>
        <url-pattern>/application/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <!--bypassing spring-mvc-view-->
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <!--bypassing spring-mvc-view-->
        <servlet-name>default</servlet-name>
        <url-pattern>/fonts/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <!--bypassing spring-mvc-view-->
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/services/application/index.html</welcome-file>
    </welcome-file-list>
</web-app>
